* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

main {
  height: 70vh;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

/******* HEADER STYLES ********/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Might have to modify the aspect ratio of the image for it to appear whole in wide screens */
  background-image: url(./images/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  padding: 0 1em;
  position: relative;
  overflow: hidden;
}

/* used if we use an <img> instead of background-image */
/* header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
} */

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(14, 14, 14, 0.7);
  z-index: 2;
}

header a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  z-index: 3;
  margin-left: 1em;
}

header a:hover,
header a:focus {
  color: lightyellow;
  font-size: 0.85rem;
}

.page-title {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 800;
  z-index: 3;
}

nav {
  z-index: 3;
}

/******** HOME STYLES ********/
/* SEARCH FORM STYLES */
.form-container {
  width: 80%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  transform: translateY(-50%);
  z-index: 3;
}

.form-container input {
  width: 100%;
  border: 2px solid #D1D5DB;
  border-radius: 5px;
  outline: none;
  padding: 0.6em 0 0.6em 3em;
  font-size: 0.8rem;
  color: #6B7280;
}

.search-icon {
  position: absolute;
  bottom: 25%;
  padding-left: 0.7em;
  width: 20px;
  height: 20px;
  color: #9CA3AF;
}

.form-container button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  border: 2px solid #D1D5DB;
  border-radius: 0 5px 5px 0;
  height: 100%;
  padding: 0 1em;
  font-size: 0.8rem;
  color: #374151;
  background-color: #F9FAFB;
}

form button:hover,
form button:focus {
  font-weight: 700;
  border-color: #6B7280;
}

/* MOVIE CONTAINERS STYLES */
.movie-search {
  height: 70vh;
}

.movie-container {
  display: flex;
  gap: 1em;
  border-bottom: 2px solid #E5E7EB;
  margin: 0 1em;
  padding: 1em 0;
  /* max-width: 800px; */
}

.movie-container img {
  width: 100px;
}

.movie-description {
  padding: 1em 0;
}

.movie-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1em;
}

.star-icon {
  color: #FEC654;
  width: 15px;
  height: 15px;
}

.movie-title span {
  font-size: 0.75rem;
  color: #111827;
}

.movie-details {
  margin-bottom: 1em;
  /* display: flex; */
  /* align-items: center; */
}

.movie-details span {
  color: #111827;
  font-size: 0.75rem;
  margin-right: 1em;
  flex-wrap: nowrap;
}

.movie-watchlist-btn {
  font-family: inherit;
  color: #111827;
  background-color: #ffffff;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  /* padding: 0.3em 0.8em; */
  /* display: flex; */
}

.watchlist-btn-icon {
  width: 16px;
  height: 16px;
  margin-right: 0.5em;
}

.movie-overview {
  color: #6B7280;
  font-size: 0.875rem;
}

.watchlist {
  text-align: center;
}

.watchlist-link {
  color: #363636;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
}

.watchlist-link:hover {
  text-decoration: underline;
  font-size: 1rem;
}

.status {
  color: #DFDDDD;
  text-align: center;
  margin-top: 10em;
  margin-bottom: 1em;
}

/* LOGIN PAGE STYLES */
.login-section {
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.login-section h2 {
  margin-bottom: 1em;
  color: #111827;
}

.login-section form {
  display: flex;
  flex-direction: column;
  color: #111827;
  width: 100%;
}

.login-section label {
  color: #111827;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.login-section input {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  color: #6B7280;
  border: 2px solid #D1D5DB;
  border-radius: 5px;
  outline: none;
}

.login-section button {
  color: #111827;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #D1D5DB;
  border-radius: 5px;
  padding: 0.5em 0;
}

.login-section-register {
  margin-top: 2em;
  text-align: center;
}

.login-section-register p {
  color: #6B7280;
  font-size: 0.9rem;
}

.login-section-register a {
  color: #111827;
  text-decoration: none;
  font-weight: 500;
}

.login-section-register a:hover,
.login-section-register a:focus {
  font-size: 1.3rem;
  font-weight: 700;
}

/* .movie-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* Media Queries */
/* Abjust the header spacing and size on wide screens. Also adjust the lists */
@media(min-width: 550px) {
  header {
    padding: 0 2em;
  }

  header a {
    font-size: 0.9rem;
  }

  .page-title {
    font-size: 2.7rem;
  }

  header a:hover,
  header a:focus {
    font-size: 1rem;
  }

  .form-container input,
  .form-container button {
    font-size: 1rem;
  }

  .movie-search {
    background-size: 250px 150px;
    padding: 0 2em;
  }

  .login-section {
    max-width: 500px;
    margin: 1em auto;
  }

  .login-section h2 {
    font-size: 1.7rem;
  }

  .login-section label {
    font-size: 1.2rem;
  }

  .login-section input {
    font-size: 1rem;
    margin-bottom: 2em;
  }

  .login-section button {
    font-size: 1.3rem;
  }

  .login-section-register p {
    font-size: 1rem;
  }

  .login-section-register a {
    font-size: 1.2rem;
  }
}